{% for message in data %}
<br>
<h3>
  {{ message['Sender'] }}
  <small>
    <span style="color:grey;">{{ message['Time'] | ctime }}</span>
    <span style="color:#0096bfab">[{{ message['Source'] }}] </span>
  </small>
</h3>
<p id="{{ message['Sender'] }}_{{ message['Time'] }}_{{ message['Source'] }}">
  {{ message['Content'] }}
</p>
<p>
  <small>
    <a href="javascript:void(0)"
      onclick="goto_context('{{ message['Sender'] }}',{{ message['Time'] }},'{{ message['Content'] }}','{{ message['Source'] }}')">[定位上下文]
    </a>
  </small>
</p>
{% endfor %}