<hr>
<span style="color:#0096bfab">满足条件的数据有 {{ data|length }} 条</span>
{% for message in data %}
<hr>
<h3>
  {{ message['Sender'] }}
  <small>
    <span style="color:grey;">{{ message['Time'] | ctime }}</span>
    <span style="color:#0096bfab">[{{ message['Source'] }}] </span>
  </small>
</h3>
<p id="{{ message['Sender'] }}_{{ message['Time'] }}_{{ message['Source'] }}">
  {{ message['Content'] }}
</p>
<p>
  <small>
    <a href="javascript:void(0)"
      onclick='goto_context("{{ message['Sender'] }}",{{ message['Time'] }},"{{ message['Content'] }}","{{ message['Source'] }}")'>[定位上下文]
    </a>
  </small>
</p>
{% endfor %}